version: "3.8"

services:
  backend:
    build:
      context: ./backend
    restart: unless-stopped
    environment:
      - MONGODB_URI=mongodb+srv://admin:twothree3A@scout.mzg0qz8.mongodb.net/?appName=Scout
      - PORT=5000
      - NODE_ENV=production
      - CORS_ORIGIN=https://naijascout.app
      - JWT_SECRET=agbabiaka7G
    networks:
      - app-network

  frontend:
    build:
      context: .
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx-ssl.conf:/etc/nginx/conf.d/default.conf
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/certbot
    depends_on:
      - backend
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  certbot-etc:
  certbot-var:
  web-root:

networks:
  app-network:
    driver: bridge
